.slider {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 300px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 3rem;
    color: black;
    z-index: 300;
    cursor: pointer;
}
.left-arrow {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 3rem;
    color: black;
    z-index: 300;
    cursor: pointer;
}

.slide {
    size: 0;
}