.footer {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    background-color: #dcdcdcdc;
}

.btn-media{
    background-color: transparent;
}

.btn-map{
    background-color: transparent;
    font-size: medium;
}

.first {
    text-align: center;
}

.first,
.second,
.third {
    padding-left: 9%;
}